<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading text-center"><h4>Edit - <%= current_user.full_name %></h4></div>
        <div class="panel-body">
          <%= render 'form' %></div>
        <div class="panel-footer">
          <%= link_to "Back", root_path %>
        </div>
      </div>
    </div>
  </div>
</div>